body
{
    background-color: rgb(45, 45, 45);
    color: aliceblue;
    font-family: 'Roboto Thin' ,sans-serif;
    text-align: center;
}

#header_part
{
    width: 100%;
}
#header_part div
{
    background-color: orangered;
    height: 10vh;
}
#header_part div:first-child
{
    width: 48vw;
    display: inline-block;
    margin-top: 1.3vh;
}
#header_part div:last-child
{
    width: 48vw;
    align-self: right;
    display: inline-block;
    margin-left: 0.8vw; 
}
#top_part
{
    background: greenyellow;
    height: 30vh;
    width: 97.2vw;
    margin-left: 0.85vw; 
    margin-top: 2.9vh;
}
#middle_part div
{
    display: inline-block;
    height: 26vh;
    background-color: lightskyblue;
    width: 31.7vw;
    margin-right: 0.8vw;
}
#middle_part
{
    width: 99vw;
    margin-left: 0.3vw; 
    margin-top: 3.5vh;
}
#bottom_part
{
    margin-left: 0.27vw; 
    margin-top: 3.5vh;
    border: 0px solid orange;
    width: 99vw;
}
#bottom_part div
{
    display: inline-block;
    height: 26vh;
    background-color: lightgray;
    width: 23.51vw;
    margin-right: 0.8vw;
    height: 18vh;
}
#bottom_part div:first-child
{
    display: inline-block;
    margin-left:  0vw;
    margin-right: 0.8vw;
}






