*
{
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: rgb(45, 45, 45);
    color: aliceblue;
    font-family: 'Roboto Thin' ,sans-serif;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
}

button
{
    border-radius: 3px;
    border: 1px solid aliceblue;
    text-align: center;
    font-family: 'Roboto Thin' ,sans-serif;
    font-weight: bold;
    background: black;
    color: aliceblue;
    width: 100%;
    margin-bottom: 2px;
}

button:hover
{
    background-color: orange;
    color: rgb(45, 45, 45);
    border: 1px solid aliceblue;
}

table
{
    margin-top: 100px;
    border: 2px solid orange;
    border-radius: 10px;
    background-color: orange;
}

td
{
    background: rgb(45, 45, 45);
    padding: 5px;
}

.tr_header
{
    color: rgb(45, 45, 45);
    font-weight: bolder;
}

#request-menu{
    margin-top: 100px;
}
















