* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: rgb(87, 87, 87);
    font-family: 'Roboto Thin', sans-serif;
    height: 100vh;
    box-sizing: border-box;


}

grid-container {
    display: grid;
    grid-column-gap: 50px 100px;
    grid-template-columns: 1fr 0.1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
}

grid-item {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid red;
}

img {
    width: 4em;
    margin-left: 40%;
    margin-right: 20%;
}

.headButton {
    color: blue;
}


.my-flex-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;

    /* background: aliceblue; */
}

.my-flex-container .box:last-child {
    width: 20%;
}

.my-flex-container1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: stretch;

    width: 50%;

    /* border:1px solid red; */
}

.my-flex-container1 .box:nth-child(1):hover {
    visibility: visible;
}

.my-flex-container1 .box:nth-child(2) {
    margin-left: 5px;
    ;
    width: 30%;
}

.my-flex-container1 .box:nth-child(3) {
    width: auto;
    margin-left: 1%;
}

.my-flex-container1 .box:nth-child(4) {
    width: auto;
    margin-left: 1%;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: white; */
}

text {
    border-left: 2px solid rgb(87, 87, 87);
    padding-left: 3%;
}


button{
    border: 5px solid rgba(92, 0, 128, 0);
    background: rgba(0, 0, 0, 0);
    color: rgb(92, 0, 128);
    font-weight: bold;
    font-size: 1em;
    width: 5vw;
}

button:hover, input:last-child:hover {
    border: 5px solid rgb(92, 0, 128);
    border-radius: 15px;
    background-color: rgb(92, 0, 128);
    color: aliceblue;
}

.rightHeader {
    /* float: right; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}
input:first-child
{
    width: 60%;
    background: grey;
    border: 0px;
    font-size: 1em;
}
input:last-child {
    border: 5px solid rgba(92, 0, 128, 0);
    background: rgba(0, 0, 0, 0);
    color: rgb(92, 0, 128);
    font-weight: bold;
    font-size: 1em;
    width: 30%;
}

.menu-content {
    display: none;
    position: absolute;
    top: 30px;
    background-color: white;
    min-width: 600px;
    z-index: 1;
}

.menu-content p {
    padding: 5px;
    font-size: 0.9em;
    margin-bottom: 0.5em;
}

.menu-content p:hover {
    color:rgb(84, 86, 212);
}

.menu {
    position: relative;
    display: flex;
}

.menu:hover .menu-content {
    display: block;
}





.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    align-items: stretch;
    margin-top: 1em;
}

.content-container .card {
    background-color: white;
    width: 300px; 
    height: 470px;
    margin: auto;
    margin-top: 10vh;

    border: 1px solid black;
}


.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.card-container .box
{
    display: flex;
    border:1px solid red;
}

.card-container img {
     width: 100%;
     margin: auto;
}


